.error-bg {
    display:block;
    justify-content: center;
}

.ad-btn2{
    padding: 0 20px;
border-radius: 15px;
border-color: $white;
font-style: none;
background-color: $thirdColor;
a{
    text-decoration: none;
    color: $white;
}
}



