.error404{
    margin-top: 10%;
}

.ad-btn2{
    align-items: center;
    padding: 0 10px;
    border-radius: 360px;
    border-color: $white;
    background-color: $fourthColor;
a{
    text-decoration: none;
    font-style: none;
    color: $black;
}
}




